<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.directscreenapi.manager">

    <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="35" />
    <uses-permission android:name="android.permission.INTERNET" />
    <supports-screens android:resizeable="false" />

    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar">

        <activity
            android:name=".MainActivity"
            android:excludeFromRecents="false"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:taskAffinity="org.directscreenapi.manager">
            <intent-filter>
                <action android:name="org.directscreenapi.manager.OPEN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ModulesActivity"
            android:exported="false"
            android:label="@string/modules_title" />

        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="@string/settings_title" />

        <activity
            android:name=".LogsActivity"
            android:exported="false"
            android:label="@string/logs_title" />

        <activity
            android:name=".ImeProxyActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:noHistory="false"
            android:taskAffinity="org.directscreenapi.manager"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!--
          LSP 风格：不让 Manager 自己去 ServiceManager.find 自定义 service（可能被 SELinux 拦）。
          由寄生 host（root/shell）通过 bindService 注入 core binder 句柄到 Manager 进程。
        -->
        <service
            android:name=".HostHandshakeService"
            android:exported="true" />
    </application>

</manifest>
